.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .footer__copyright{
  align-self: flex-end;
  padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 0;
  }
}
