.cover {
  display: flex;
  background-image: url(../../images/prom_vagon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}

