.place__website {
  align-self: flex-end;
  flex-direction: column;
  max-width: 456px;
  row-gap: 12px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding-left: 16px;
  }
}
